.header_div {
    display: flex;
    justify-content: right;
    height: 50px;
    width: 100%;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: 20px;
}

.header-h5 {
    cursor: pointer;
}

.header-h5:hover {
    cursor: pointer;
    color: var(--blue-secondary);
}

.active{
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0px;
    transition: 0.3s linear;
    display: flex;
    justify-content:stretch;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0);
}
.hidden{
    height: 4rem;
    width: 100%;
    z-index: 40;
    border-bottom: 1px solid rgba(0, 0, 0, 10);
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
    position: fixed;
    top: -80px;
    transition: 0.3s linear;

}