#root {
  margin: 0 auto;
  box-sizing: border-box;
}
:root {
  --blue-primary: #0A192F;
  --blue-secondary: #64ffda;
  --blue-tertiary: #1b445a;
  --fullwidth: 100%;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--blue-tertiary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--blue-primary);
  border-radius: 20px;
  border: 3px solid var(--blue-secondary);
}