#root {
  margin: 0 auto;
}

:root {
  --blue-primary: #0A192F;
  --blue-secondary: #64ffda;
  --blue-tertiary: #1b445a;
  --fullwidth: 100%;
}

.App { 
  margin: 0;
}

.testing_content {
  height: 5000px;
  margin-top: 100px;
  background-color: var(--blue-primary);
}